---
import IconSuccess from "../components/Icons/IconSuccess.astro";
---

<div class="flex gap-x-4">
  <div
    class="h-6 w-6 rounded-full bg-red-1 flex items-center justify-center text-lg"
  >
    <IconSuccess />
  </div>
  <p class="text-lg"><slot /></p>
</div>
